
.border-bottom {
            border-color: #444 !important; 
        }
        .feature-icon {
            background-color: #333 !important; 
        }

.hero-section {
    position: relative;
    padding: 10rem 0;
    background: url('https://img.freepik.com/free-vector/3d-style-retro-film-strip-background-with-text-space_1017-52848.jpg?t=st=1760168318~exp=1760171918~hmac=b5cfff52f2fe4deb7b4647b7536cadcef40fa8a7ecf06bb956a25fc5bc1e4195') no-repeat center center;
    background-size: cover;
    color: white;
}

.hero-section::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.6);
}
.hero-section .container {
    position: relative;
    z-index: 2;
}
.feature-icon {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 4rem;
    height: 4rem;
    margin-bottom: 1rem;
    font-size: 2rem;
    color: #fff;
    border-radius: .75rem;
}
.showcase-img {
    height: 450px;
    width: 100%;
    object-fit: cover;
    border-radius: .75rem;
    box-shadow: 0 0.5rem 1rem rgba(0,0,0,.15);
}